{% extends 'base.html' %} {% load static %} {% block title %}
<title> Save </title>
<style>
    p{
        text-align: center;
        font-size: medium;
        font-family: IMPACT;
    }
</style>
{% endblock title %}  {% block content %}
<p>Please, select: </p>
<p> A - Save </p>
<p> B - Cancel </p>
<dev class="slot" style="background-color: {{colorA}}">Slot A: {{contA}}</dev>
<dev class="slot" style="background-color: {{colorB}}">Slot B: {{contB}}</dev>
<dev class="slot" style="background-color: {{colorC}}">Slot C: {{contC}}</dev>
{% endblock content %}